*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F5F5F5;
}
.home-container{
    width: 100%;
    height: 100vh;
}
.bgg-image-1{
    background-image:url(assets/images/background.png);
    width: 100%;
    height: 100%;
}
/* .bgg-image-2{
    background-image: url(assets/images/image\ 6.png);
    position: absolute;
    width: 385px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 250px;
    left: 981px;
    top: 0px;
}
.bgg-image-3{
    background-image: url(assets/images/image\ 4.png);
    position: absolute;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 353px;
}

.bgg-image-4{
    background-image: url(assets/images/image\ 10.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 306px;
    background-size: contain;
    height: 300px;
    right: 0;
    top: 312px;
} */
.cart{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px;
}
.cart img{
    width: 140px;
    height: 120px;
}
.heading{
    color: #FAC6B9;
    font-family: 'Jost';
}
.heading-2{
    font-family: 'Jost';
    color: #A5D5CA;
}
.heading-3{
    font-family: 'Jost';
    color: #1A3355;
}
.para{
    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    padding: 12px 44% 12px 0px;
    line-height: 24px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h4{
    color: #F9296F;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 22px;
}
.content p{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    padding-right: 51px;
    margin: 20px 0px;
}
.content h5{
   
    color: #F9296F;
    font-size: 14px;
    font-weight: 600;
    background: #FFFFFF;
    border: 2px solid #F9296F;
    border-radius: 3px;
    padding: 8px;
}
.content a{
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    margin-left: 24px;
}
.join{
    display: flex;
    margin-top: 20px;
}
.content h6{
    display: inline;
    color: #F9296F;
    font-size: 14px;
    font-weight: 600;
    background: #FFFFFF;
    border: 2px solid #F9296F;
    border-radius: 3px;
    padding: 8px;
   
}